.list {
    margin: 0px;
    background-color: white;
    padding: 20px 0 20px 0;
}

.list__container {
    display: flex;
    margin: 0 20px;
    border-bottom: 1.5px solid #ddd;
    align-items: center;
}

.list__item {
    list-style-type: none;
    flex-grow: 1;
    padding: 10px 0;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    color: white;
    border: none;
    min-width: 30px;
    min-height: 30px;
    margin: 12px;
    background-color: hsl(120, 100%, 25%);
    order: -1;
}

.list__button:hover{
    background-color: hsl(120, 100%, 30%);;
}

.list__button:active{
    background-color: hsl(120, 100%, 40%);;
}

.list__button--delete {
    background: url("../img/delete.png") center center no-repeat;
    background-size: 16px;
    background-color: hsl(0, 100%, 45%);
    order: 0;
}

.list__button--delete:hover{
    background-color: hsl(0, 100%, 50%);;
}

.list__button--delete:active{
    background-color: hsl(0, 100%, 65%);;
}